.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
    text-align: center;
}
#myCanvas
{
   border-width: thick;
   border-color: darkmagenta;
   border-style: ridge;

}

#Lovelymother{
    border-radius: 40px;
}

#heading{
    color: black;
    font-weight: bold;   
    font-family:cursive;
}

p{
    color:rgb(107, 2, 20);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p:hover {
    background-color: yellow;
  }

